
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
  div{
    margin-bottom: 0;
    padding-bottom: 0; 
  }
  body {
    content:'';
    background-color: #161616;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(image.png);
    background-size: cover;
    background-position: center;
}
section:nth-child(odd) {
  background: transparent;
}
section:nth-child(even){
  background-color: #161616;
  background-color: rgba(0, 0, 0, 0.6);
}
/* Navbar styles */
.navbar {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #161616;
  padding: 10px 30px;
  position: fixed;
  top: 0;
  z-index: 99;
  opacity: 1;
  transition: background-color 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  transform: translateY(0);
}

.navbar.sticky {
  background-color: #1f242d;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.9;
  transform: translateY(0);
}
.sticky-navbar-space {
  height: 150px;
}

/* Logo and text */
.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 108px;
  height: 90px;
}

.text-logo {
  color: white;
  margin-left: 10px;
  font-size: 24px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #FDDA0D 100%, white 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Navigation links */
.nav-links {
  display: flex;
  align-items: center;
}

.nav-links a {
  text-decoration: none;
  margin: 0 15px;
  color: #FDDA0D;
  font-size: 18px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: white;
}

/* Registration button */
.register-btn {
  padding: 15px 25px;
  background-color: #ccf43a;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s, transform 0.3s;
}

.register-btn:hover {
  background-color: yellow;
  transform: scale(1.05);
}

/* Burger menu */
.burger-menu {
  display: none;
  cursor: pointer;
}

.burger-menu .icon2 {
  font-size: 36px;
  color: #FDDA0D;
}

/* Mobile menu hidden initially */
.mobile-nav {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  background-color: #1f242d;
  padding: 20px;
  z-index: 100;
}

.mobile-nav a {
  padding: 10px;
  text-decoration: none;
  color: #FDDA0D;
  font-size: 18px;
}

.mobile-nav .register-btn {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #ccf43a;
  color: #000;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .text-logo{
    font-size: 19px;
  }
  .nav-links {
      display: none;
  }

  .burger-menu {
      display: block;
  }
  .register-btn{
    width: 100%;
    font-size: larger;
  }
}

/*Categories*/
.categories {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  color: white;
  word-wrap: break-word;
  box-sizing: border-box;
  background-color: #161616;
  background-color: rgba(0, 0, 0, 0.6);
}
.categories::after {
  content: "";
  display: table;
  clear: both;
  width: 100%;
  height: 2px;
  background-color: #ccf43a;
  margin: 10px auto 20px;
}

.cat-title1 {
  font-size: 40px;
  color: #ccf43a;
}
.cat-title1::after {
  content: "";
  display: block;
  width: 10%;
  height: 2px;
  background-color: #ccf43a;
  margin: 10px auto 20px;
}

.cat-title::after {
  content: "";
  display: block;
  width: 70%;
  height: 2px;
  background-color: #ccf43a;
  margin: 10px auto 20px;
}

.categories h1, .categories p {
  margin: 10px 0;
}

.grid-container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  gap: 10px; /* Space between boxes */
  margin: 5px 0;
  justify-items: center;
}

.category-box {
  width: 228px;
  height: 220px;
  margin-top: 5px;
  margin-bottom: 100px;
  position: relative;
  text-align: center;
  border-radius: 50%;
}

.category-box img {
  width: 100%;
  height: 100%;
  border-radius: 15%;
  object-fit: cover;
  transition: border 0.3s ease;
}

.category-box p {
  margin: 10px 0;
  border-radius: 15%;
}

.category-box button {
  background-color: #ccf43a;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  color: #000;
  border-radius: 6px;
}

.category-box:hover img {
  outline: 2px solid #ccf43a;
}

.category-box button:hover {
  background-color: yellow;
  transform: scale(1.05);
  color: #000;
}

.compulsory-categories, .additional-categories {
  margin-bottom: 50px;
}

/* Responsive Design for Mobile */
@media (max-width: 768px) {
  .grid-container {
      grid-template-columns: 1fr; /* 1 column on smaller screens */
  }

  .category-box {
      margin: 0 auto 20px;
      margin-bottom: 100px;
  }

  .cat-title1 {
      font-size: 30px;
  }

  .category-box button {
      padding: 8px 12px;
  }

  .cat-title::after {
      width: 90%;
  }
}

/* Contact-us */
.contact-us {
  min-height: 100vh;
  background: transparent;
  font-size: 20px;
  color: #fff;
}


/* Footer */
footer {
  color: white;
  padding: 20px;
  text-align: left;
  background-color: #161616;
  background-color: rgba(0, 0, 0, 0.6);
}

.footer {
  text-align: left;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100px;
}

.footer-section {
  margin-bottom: 20px;
  width: 100%; /* Allow sections to take full width */
}

h3 {
  position: relative;
}

h3 .underline {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccf43a; /* Underline color */
  margin-top: 5px;
  margin-bottom: 8px;
}

.info-box {
  border: 2px solid white;
  padding: 10px;
  transition: border-color 0.3s;
  width: 90%; /* Box width */
  margin: 0 auto;
  transition: transform 0.2s ease;
}

/* Bounce animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-30px);
  }
  60% {
      transform: translateY(-15px);
  }
}

.info-box:hover {
  border-color: #ccf43a;
  animation: bounce 1.5s;
}

.head-name {
  font-size: 30px;
}

.info-row {
  margin-bottom: 5px; /* Reduced spacing between rows */
}

hr {
  border: 1px solid #ccf43a;
  margin: 10px 0;
}

.icon {
  width: 16px;
  height: auto;
  margin-right: 5px; /* Space between icon and text */
}

.icon1 {
  width: 40px;
  height: auto;
  margin-right: 5px;
  border-radius: 50%;
}

.frame {
  margin-top: 8px;
}

.email a {
  text-decoration: none;
  color: #ccf43a;
  transition: color 0.3s;
}

.email a:hover {
  color: #fff;
}

/* End */
.end {
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: center; /* Horizontal centering */
  flex-wrap: wrap; /* Allows content to wrap to the next line */
  text-align: center; /* Centers text on smaller screens */
}

.hehe a {
  text-decoration: none;
  color: #ccf43a;
  transition: color 0.3s;
  padding-left: 5px;
  padding-right: 5px;
}

.hehe a:hover {
  color: #fff;
}

/* Responsive behavior for mobile screens */
@media (max-width: 600px) {
  .end {
    flex-direction: column; /* Stacks the content vertically */
  }

  .hehe {
    margin-top: 10px; /* Adds space between the two lines */
  }
}

/* RESPONSIVENESS */

/* For devices up to 768px */
@media (max-width: 768px) {
  .footer-container {
      flex-direction: column; /* Stack columns vertically */
      text-align: center;
      padding: 10px;
  }

  .footer-column {
      width: 100%; /* Full width for smaller screens */
      margin-bottom: 2px;
  }

  .info-box {
      width: 100%;
      margin-bottom: 0px; /* Full width for info box */
  }

  h3 {
      font-size: 24px;
  }

  .head-name {
      font-size: 24px;
  }

  .icon {
      width: 20px; /* Larger icons for better visibility */
  }

  .icon1 {
      width: 35px; /* Adjusted size for social icons */
  }

  .info-row p {
      font-size: 14px; /* Smaller font size for better fit */
  }
}

/* For devices up to 480px (small phones) */
@media (max-width: 480px) {
  .footer-container {
      flex-direction: column;
      text-align: center;
      padding: 5px;
  }

  .footer-column {
      width: 100%; /* Full width for columns */
  }

  .info-box {
      width: 100%; /* Full width for info box */
  }

  h3 {
      font-size: 22px;
  }

  .head-name {
      font-size: 20px;
  }

  .icon {
      width: 16px; /* Slightly smaller icons */
  }

  .icon1 {
      width: 30px; /* Smaller social media icons */
  }

  .info-row p {
      font-size: 12px; /* Adjusted font size for smaller screens */
  }

  .email a {
      font-size: 14px;
  }

  .end {
      font-size: 14px; /* Adjust footer end text size */
  }
}
